In [1]:
import os
import datetime

import IPython
import IPython.display
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import tensorflow as tf

mpl.rcParams['figure.figsize'] = (8, 6)
mpl.rcParams['axes.grid'] = False

In [2]:
df = pd.read_csv("../../dataset/pvdb/org/device_2021-11-06__2021-11-15.csv")
df

,datetime,device_id,current_value_of_consumption,external_energy_supply,internal_power_supply,current_power,self_consumption,grid_feed_in,temperature_measurement,ambient_temperature,total_irradiation
0,2021-11-06 11:15:00,1,36229.0,0.0,36229.0,45877.0,36229.0,9648.0,58,29,809
1,2021-11-06 11:15:10,2,11550.0,0.0,11550.0,180190.0,11550.0,168640.0,51,0,801
2,2021-11-06 11:15:10,1,36296.0,0.0,36296.0,45848.0,36296.0,9552.0,58,29,809
3,2021-11-06 11:15:10,3,1949.0,0.0,1949.0,122045.0,1949.0,120096.0,0,0,0
4,2021-11-06 11:15:20,2,11344.0,0.0,11344.0,180104.0,11344.0,168760.0,51,0,800
...,...,...,...,...,...,...,...,...,...,...,...
237986,2021-11-15 15:47:50,1,20902.0,5520.0,15382.0,15382.0,15382.0,0.0,34,29,260
237987,2021-11-15 15:47:50,3,7187.0,0.0,7187.0,35399.0,7187.0,28212.0,0,0,0
237988,2021-11-15 15:48:00,2,59770.0,0.0,59770.0,99690.0,59770.0,39920.0,40,0,438
237989,2021-11-15 15:48:00,1,21150.0,5424.0,15726.0,15726.0,15726.0,0.0,34,29,219
237990,2021-11-15 15:48:00,3,7223.0,0.0,7223.0,34919.0,7223.0,27696.0,0,0,0

In [3]:
df['datetime'] = df['datetime'].astype(str).str.strip("'\" ")
df['datetime'] = pd.to_datetime(df['datetime'], format='%Y-%m-%d %H:%M:%S', errors='coerce')
df['datetime'] = df['datetime'].dt.round('15min')
df

,datetime,device_id,current_value_of_consumption,external_energy_supply,internal_power_supply,current_power,self_consumption,grid_feed_in,temperature_measurement,ambient_temperature,total_irradiation
0,2021-11-06 11:15:00,1,36229.0,0.0,36229.0,45877.0,36229.0,9648.0,58,29,809
1,2021-11-06 11:15:00,2,11550.0,0.0,11550.0,180190.0,11550.0,168640.0,51,0,801
2,2021-11-06 11:15:00,1,36296.0,0.0,36296.0,45848.0,36296.0,9552.0,58,29,809
3,2021-11-06 11:15:00,3,1949.0,0.0,1949.0,122045.0,1949.0,120096.0,0,0,0
4,2021-11-06 11:15:00,2,11344.0,0.0,11344.0,180104.0,11344.0,168760.0,51,0,800
...,...,...,...,...,...,...,...,...,...,...,...
237986,2021-11-15 15:45:00,1,20902.0,5520.0,15382.0,15382.0,15382.0,0.0,34,29,260
237987,2021-11-15 15:45:00,3,7187.0,0.0,7187.0,35399.0,7187.0,28212.0,0,0,0
237988,2021-11-15 15:45:00,2,59770.0,0.0,59770.0,99690.0,59770.0,39920.0,40,0,438
237989,2021-11-15 15:45:00,1,21150.0,5424.0,15726.0,15726.0,15726.0,0.0,34,29,219
237990,2021-11-15 15:45:00,3,7223.0,0.0,7223.0,34919.0,7223.0,27696.0,0,0,0

In [4]:
device_1_df = df[df['device_id'] == 1].drop(columns=['device_id'])
device_2_df = df[df['device_id'] == 2].drop(columns=['device_id'])
device_3_df = df[df['device_id'] == 3].drop(columns=['device_id'])

In [5]:
# Sort the DataFrame by 'Start Time'
df1 = device_1_df.sort_values('datetime')
df2 = device_2_df.sort_values('datetime')
df3 = device_3_df.sort_values('datetime')
df3

,datetime,current_value_of_consumption,external_energy_supply,internal_power_supply,current_power,self_consumption,grid_feed_in,temperature_measurement,ambient_temperature,total_irradiation
3,2021-11-06 11:15:00,1949.0,0.0,1949.0,122045.0,1949.0,120096.0,0,0,0
75,2021-11-06 11:15:00,2234.0,0.0,2234.0,119162.0,2234.0,116928.0,0,0,0
78,2021-11-06 11:15:00,1638.0,0.0,1638.0,117978.0,1638.0,116340.0,0,0,0
81,2021-11-06 11:15:00,1962.0,0.0,1962.0,118350.0,1962.0,116388.0,0,0,0
84,2021-11-06 11:15:00,2011.0,0.0,2011.0,118615.0,2011.0,116604.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
237882,2021-11-15 15:45:00,7262.0,0.0,7262.0,28358.0,7262.0,21096.0,0,0,0
237885,2021-11-15 15:45:00,5064.0,0.0,5064.0,26556.0,5064.0,21492.0,0,0,0
237888,2021-11-15 15:45:00,6593.0,0.0,6593.0,28085.0,6593.0,21492.0,0,0,0
237894,2021-11-15 15:45:00,6666.0,0.0,6666.0,27894.0,6666.0,21228.0,0,0,0
237990,2021-11-15 15:45:00,7223.0,0.0,7223.0,34919.0,7223.0,27696.0,0,0,0

In [6]:
# Define the start and end times
start_time1 = df1['datetime'].min()
end_time1 = df1['datetime'].max()
start_time2 = df2['datetime'].min()
end_time2 = df2['datetime'].max()
start_time3 = df3['datetime'].min()
end_time3 = df3['datetime'].max()

print(f"device_1: {start_time1} - {end_time1}")
print(f"device_2: {start_time2} - {end_time2}")
print(f"device_3: {start_time3} - {end_time3}")

device_1: 2021-11-06 11:15:00 - 2021-11-15 15:45:00
device_2: 2021-11-06 11:15:00 - 2021-11-15 15:45:00
device_3: 2021-11-06 11:15:00 - 2021-11-15 15:45:00

In [30]:
# Create a complete time series with 15-minute intervals
complete_time_series = pd.date_range(start=start_time1, end=end_time1, freq='15min')
complete_df = pd.DataFrame({'datetime': complete_time_series})

# Merge with complete time series
merged_df1 = pd.merge(complete_df, df1, on='datetime', how='left')
tmp = merged_df1[merged_df1['datetime'] == '2021-11-06 11:15:00']
tmp.transpose()

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,44
datetime,2021-11-06 11:15:00,2021-11-06 11:15:00,2021-11-06 11:15:00,2021-11-06 11:15:00,2021-11-06 11:15:00,2021-11-06 11:15:00,2021-11-06 11:15:00,2021-11-06 11:15:00,2021-11-06 11:15:00,2021-11-06 11:15:00,...,2021-11-06 11:15:00,2021-11-06 11:15:00,2021-11-06 11:15:00,2021-11-06 11:15:00,2021-11-06 11:15:00,2021-11-06 11:15:00,2021-11-06 11:15:00,2021-11-06 11:15:00,2021-11-06 11:15:00,2021-11-06 11:15:00
current_value_of_consumption,36229.0,37499.0,37052.0,36897.0,37149.0,42606.0,39884.0,36958.0,37100.0,37425.0,...,36547.0,36418.0,37481.0,37456.0,37380.0,37544.0,37389.0,37671.0,37558.0,36349.0
external_energy_supply,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
internal_power_supply,36229.0,37499.0,37052.0,36897.0,37149.0,42606.0,39884.0,36958.0,37100.0,37425.0,...,36547.0,36418.0,37481.0,37456.0,37380.0,37544.0,37389.0,37671.0,37558.0,36349.0
current_power,45877.0,46619.0,46316.0,46281.0,46197.0,46182.0,46244.0,46654.0,47060.0,47265.0,...,45907.0,46162.0,46097.0,46480.0,46140.0,46424.0,46581.0,46719.0,46702.0,45781.0
self_consumption,36229.0,37499.0,37052.0,36897.0,37149.0,42606.0,39884.0,36958.0,37100.0,37425.0,...,36547.0,36418.0,37481.0,37456.0,37380.0,37544.0,37389.0,37671.0,37558.0,36349.0
grid_feed_in,9648.0,9120.0,9264.0,9384.0,9048.0,3576.0,6360.0,9696.0,9960.0,9840.0,...,9360.0,9744.0,8616.0,9024.0,8760.0,8880.0,9192.0,9048.0,9144.0,9432.0
temperature_measurement,58,58,58,58,58,58,58,58,58,58,...,58,57,57,58,57,58,58,58,58,58
ambient_temperature,29,31,30,30,30,30,30,31,31,31,...,30,30,30,30,30,30,30,30,30,30
total_irradiation,809,787,779,781,786,789,792,797,803,806,...,791,791,790,787,790,790,791,793,791,794

In [31]:
# Create a complete time series with 15-minute intervals
complete_time_series = pd.date_range(start=start_time2, end=end_time2, freq='15min')
complete_df = pd.DataFrame({'datetime': complete_time_series})
# Merge with complete time series
merged_df2 = pd.merge(complete_df, df2, on='datetime', how='left')

In [32]:
# Create a complete time series with 15-minute intervals
complete_time_series = pd.date_range(start=start_time3, end=end_time3, freq='15min')
complete_df = pd.DataFrame({'datetime': complete_time_series})
# Merge with complete time series
merged_df3 = pd.merge(complete_df, df3, on='datetime', how='left')

In [41]:
def mean_positive_above_threshold(group_values):
    """
    Calculate mean of values > 0 only if more than 50% of values are > 0.
    Otherwise return NaN.
    """
    # Remove NaN values first
    valid_values = group_values.dropna()
    
    if len(valid_values) == 0:
        return np.nan
    
    # Count values greater than 0
    positive_count = (valid_values > 0).sum()
    total_count = len(valid_values)
    
    # Check if more than 50% are positive
    if positive_count > total_count * 0.5:
        # Return mean of positive values only
        positive_values = valid_values[valid_values > 0]
        return positive_values.mean() if len(positive_values) > 0 else np.nan
    else:
        # Less than or equal to 50% are positive, return NaN
        return np.nan

In [48]:
# Group by datetime and calculate mean for all numeric columns
df1_clean = merged_df1.pivot_table(
    index='datetime',
    values=[col for col in merged_df1.columns if col != 'datetime'],
    aggfunc=mean_positive_above_threshold
).reset_index()
df2_clean = merged_df2.pivot_table(
    index='datetime',
    values=[col for col in merged_df2.columns if col != 'datetime'],
    aggfunc=mean_positive_above_threshold
).reset_index()
df3_clean = merged_df3.pivot_table(
    index='datetime',
    values=[col for col in merged_df3.columns if col != 'datetime'],
    aggfunc=mean_positive_above_threshold
).reset_index()

In [49]:
print(f"Original shape df1: {merged_df1.shape}")
print(f"Original shape df2: {merged_df2.shape}")
print(f"Original shape df3: {merged_df3.shape}")
print(f"After deduplication df1: {df1_clean.shape}")
print(f"After deduplication df2: {df2_clean.shape}")
print(f"After deduplication df3: {df3_clean.shape}")
print("\nFirst few rows:")
print(df1_clean.head())

Original shape df1: (79331, 10)
Original shape df2: (79330, 10)
Original shape df3: (79330, 10)
After deduplication df1: (883, 10)
After deduplication df2: (883, 9)
After deduplication df3: (883, 7)

First few rows:
             datetime  ambient_temperature  current_power  \
0 2021-11-06 11:15:00            30.288889   46519.355556
1 2021-11-06 11:30:00            30.076923   47600.714286
2 2021-11-06 11:45:00            30.629213   47056.988764
3 2021-11-06 12:00:00            31.021978   48415.835165
4 2021-11-06 12:15:00            31.831461   49345.404494

   current_value_of_consumption  external_energy_supply  grid_feed_in  \
0                  37280.422222                     NaN   9238.933333
1                  39472.626374                     NaN   9397.756098
2                  32669.393258                     NaN  14387.595506
3                  36126.516484                     NaN  12289.318681
4                  36879.966292                     NaN  12465.438202

   internal_power_supply  self_consumption  temperature_measurement  \
0           37280.422222      37280.422222                58.022222
1           39132.406593      39132.406593                58.263736
2           32669.393258      32669.393258                57.235955
3           36126.516484      36126.516484                56.846154
4           36879.966292      36879.966292                55.842697

   total_irradiation
0         798.444444
1         812.571429
2         807.224719
3         817.527473
4         816.651685

In [50]:
df1_clean.to_csv("../../dataset/pvdb/org/device-1.csv", index=False)
df2_clean.to_csv("../../dataset/pvdb/org/device-2.csv", index=False)
df3_clean.to_csv("../../dataset/pvdb/org/device-3.csv", index=False)