In [120]:
import os
import re
from pathlib import Path
import datetime

import IPython
import IPython.display
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import tensorflow as tf

In [121]:
def is_gzip_file(filepath):
    with open(filepath, 'rb') as f:
        return f.read(2) == b'\x1f\x8b'
def display_all(df):
    plot_cols = df.columns
    plot_features = df[plot_cols]
    plot_features.index = df.index
    _ = plot_features.plot(subplots=True)

    plot_features = df[plot_cols][:960]
    plot_features.index = df.index[:960]
    _ = plot_features.plot(subplots=True)

In [155]:
csv_main = tf.keras.utils.get_file(
    origin='https://itsci.mju.ac.th/downloads/watcharin/datasets/pv/device-1_filled.csv.tar.gz')
    #origin='https://itsci.mju.ac.th/downloads/watcharin/datasets/pv/utci_selected_timeseries_filled_15min.csv.zip')
    #origin='https://itsci.mju.ac.th/downloads/watcharin/datasets/pv/era5-hourly_timeseries_filled_15min.csv.zip')
    #origin='https://itsci.mju.ac.th/downloads/watcharin/datasets/pv/era5-land_timeseries_filled_15min.csv.zip')
#csv_main = '/Users/watcharinsarachai/workpaces/PhotovoltaicHA/src/jupyter_nb/merge_15min.csv'
csv_main

'C:\\Users\\ASUS\\.keras\\datasets\\device-1_filled.csv.tar.gz'

In [156]:
csv_ext = tf.keras.utils.get_file(
    origin='https://itsci.mju.ac.th/downloads/watcharin/datasets/pv/era5-hourly_timeseries_filled_15min.csv.tar.gz')
csv_ext

'C:\\Users\\ASUS\\.keras\\datasets\\era5-hourly_timeseries_filled_15min.csv.tar.gz'

In [157]:
csv_ext2 = tf.keras.utils.get_file(
    origin='https://itsci.mju.ac.th/downloads/watcharin/datasets/pv/era5-land_timeseries_filled_15min.csv.tar.gz')
csv_ext2

'C:\\Users\\ASUS\\.keras\\datasets\\era5-land_timeseries_filled_15min.csv.tar.gz'

In [161]:
date_col = 'datetime' 
if is_gzip_file(csv_main):
  # Read the data directly into a pandas DataFrame
  df_main = pd.read_csv(csv_main, compression='gzip')
else:
  # Read the data without compression
  df_main = pd.read_csv(csv_main)

In [162]:
df_main = df_main.rename(columns={df_main.columns[0]: date_col})
df_main.head(3)

,datetime,ambient_temperature,current_power,current_value_of_consumption,external_energy_supply,grid_feed_in,internal_power_supply,self_consumption,temperature_measurement,total_irradiation
0,2021-11-06 11:15:00,30.288889,46519.355556,37280.422222,0.0,9238.933333,37280.422222,37280.422222,58.022222,798.444444
1,2021-11-06 11:30:00,30.076923,47600.714286,39472.626374,0.0,9397.756098,39132.406593,39132.406593,58.263736,812.571429
2,2021-11-06 11:45:00,30.629213,47056.988764,32669.393258,0.0,14387.595506,32669.393258,32669.393258,57.235955,807.224719

In [163]:
df_main = df_main.rename(columns={
    'current_value_of_consumption': 'value_of_consumption',
    'temperature_measurement': 'module_temp',
    'ambient_temperature': 'ambient_temp'
})
df.pop('self_consumption')
df_main.head(3)

,datetime,ambient_temp,current_power,value_of_consumption,external_energy_supply,grid_feed_in,internal_power_supply,self_consumption,module_temp,total_irradiation
0,2021-11-06 11:15:00,30.288889,46519.355556,37280.422222,0.0,9238.933333,37280.422222,37280.422222,58.022222,798.444444
1,2021-11-06 11:30:00,30.076923,47600.714286,39472.626374,0.0,9397.756098,39132.406593,39132.406593,58.263736,812.571429
2,2021-11-06 11:45:00,30.629213,47056.988764,32669.393258,0.0,14387.595506,32669.393258,32669.393258,57.235955,807.224719

In [164]:
if is_gzip_file(csv_ext):
  # Read the data directly into a pandas DataFrame
  df_ext = pd.read_csv(csv_ext, compression='gzip')
else:
  # Read the data without compression
  df_ext = pd.read_csv(csv_ext)

In [165]:
df_ext = df_ext.rename(columns={df_ext.columns[0]: date_col})
df_ext.head(5)

,datetime,cc,r,q,t,u,v
0,2019-01-01 00:00:00,0.070280,92.705627,0.009815,285.741663,-1.814419,5.006463
1,2019-01-01 00:15:00,0.068950,92.621960,0.009815,285.743458,-1.857653,5.066637
2,2019-01-01 00:30:00,0.063478,92.621887,0.009816,285.741820,-1.845241,5.123239
3,2019-01-01 00:45:00,0.055572,92.681260,0.009818,285.738312,-1.788009,5.174254
4,2019-01-01 01:00:00,0.046941,92.775929,0.009822,285.734497,-1.696781,5.217667

In [166]:
if is_gzip_file(csv_ext2):
  # Read the data directly into a pandas DataFrame
  df_ext2 = pd.read_csv(csv_ext2, compression='gzip')
else:
  # Read the data without compression
  df_ext2 = pd.read_csv(csv_ext2)

In [167]:
df_ext2 = df_ext2.rename(columns={df_ext2.columns[0]: date_col})
df_ext2.head(5)

,datetime,t2m,fal,slhf,ssr,str,sshf,ssrd,strd,u10,v10,sp,tp
0,2021-12-31 01:00:00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
1,2021-12-31 01:15:00,1.175864e-10,6.071940e-14,-0.000002,0.000006,-0.000003,-9.100054e-07,0.000008,0.000016,-2.316478e-13,-4.182899e-13,3.916236e-08,2.815411e-17
2,2021-12-31 01:30:00,1.343845e-10,6.939360e-14,-0.000003,0.000007,-0.000003,-1.040006e-06,0.000009,0.000018,-2.647404e-13,-4.780456e-13,4.475698e-08,3.217612e-17
3,2021-12-31 01:45:00,8.399031e-11,4.337100e-14,-0.000002,0.000005,-0.000002,-6.500039e-07,0.000005,0.000011,-1.654627e-13,-2.987785e-13,2.797312e-08,2.011008e-17
4,2021-12-31 02:00:00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00

In [168]:
# Ensure timestamp column is datetime type
if df_main[date_col].dtype != 'datetime64[ns]':
    df_main[date_col] = pd.to_datetime(df_main[date_col])
if df_ext[date_col].dtype != 'datetime64[ns]':
    df_ext[date_col] = pd.to_datetime(df_ext[date_col])
if df_ext2[date_col].dtype != 'datetime64[ns]':
    df_ext2[date_col] = pd.to_datetime(df_ext2[date_col])

In [169]:
print(f"Main total rows: {df_main.shape[0]}")
print(f"Ext total rows: {df_ext.shape[0]}")
print(f"Ext total rows: {df_ext2.shape[0]}")

Main total rows: 138238
Ext total rows: 237593
Ext total rows: 133917

In [170]:
print(df_main[date_col].dt.year.unique())
print(df_main[date_col].dt.year.value_counts())
print(df_main.shape)

[2021 2022 2023 2024 2025]
datetime
2024    35136
2023    35040
2022    35040
2025    27691
2021     5331
Name: count, dtype: int64
(138238, 10)

In [171]:
# Sort by time if it exists
df_main.index = df_main[date_col]
df_main.pop(date_col)
df_main = df_main.sort_index()
print(df_main.shape)

(138238, 9)

In [172]:
# Prepare ext: set index and sort
df_ext.index = df_ext[date_col]
df_ext.pop(date_col)
df_ext = df_ext.sort_index()
print(df_ext.shape)

(237593, 6)

In [173]:
# Prepare ext: set index and sort
df_ext2.index = df_ext2[date_col]
df_ext2.pop(date_col)
df_ext2 = df_ext2.sort_index()
print(df_ext2.shape)

(133917, 12)

In [174]:
# Diagnose and fix index issues
print(f"Index dtype: {df_main.index.dtype}")
print(f"Has NaT: {df_main.index.isna().sum()}")
print(f"Has duplicates: {df_main.index.duplicated().sum()}")
print(f"Is monotonic: {df_main.index.is_monotonic_increasing}")

Index dtype: datetime64[ns]
Has NaT: 0
Has duplicates: 0
Is monotonic: True

In [175]:
# Join only difference: add ext columns that don't exist in main, aligned by time
ext_cols = df_ext.columns.difference(df_main.columns)
print(f"Unique ext columns to add: {list(ext_cols)}")

Unique ext columns to add: ['cc', 'q', 'r', 't', 'u', 'v']

In [176]:
# Join only difference: add ext columns that don't exist in main, aligned by time
ext2_cols = df_ext2.columns.difference(df_main.columns)
print(f"Unique ext columns to add: {list(ext2_cols)}")

Unique ext columns to add: ['fal', 'slhf', 'sp', 'sshf', 'ssr', 'ssrd', 'str', 'strd', 't2m', 'tp', 'u10', 'v10']

In [177]:
df_merged = df_main.join(df_ext[ext_cols], how='left')
print(f"Merged shape: {df_merged.shape}")

Merged shape: (138238, 15)

In [178]:
df_merged = df_merged.join(df_ext2[ext2_cols], how='left')
print(f"Merged shape: {df_merged.shape}")

Merged shape: (138238, 27)

In [179]:
df_merged.head(3)

,ambient_temp,current_power,value_of_consumption,external_energy_supply,grid_feed_in,internal_power_supply,self_consumption,module_temp,total_irradiation,cc,...,sp,sshf,ssr,ssrd,str,strd,t2m,tp,u10,v10
datetime,,,,,,,,,,,,,,,,,,,,,
2021-11-06 11:15:00,30.288889,46519.355556,37280.422222,0.0,9238.933333,37280.422222,37280.422222,58.022222,798.444444,0.000002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-11-06 11:30:00,30.076923,47600.714286,39472.626374,0.0,9397.756098,39132.406593,39132.406593,58.263736,812.571429,0.000002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-11-06 11:45:00,30.629213,47056.988764,32669.393258,0.0,14387.595506,32669.393258,32669.393258,57.235955,807.224719,0.000001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [181]:
df_merged = df_merged.sort_values(date_col)
df_merged.head(3)

,ambient_temp,current_power,value_of_consumption,external_energy_supply,grid_feed_in,internal_power_supply,self_consumption,module_temp,total_irradiation,cc,...,sp,sshf,ssr,ssrd,str,strd,t2m,tp,u10,v10
datetime,,,,,,,,,,,,,,,,,,,,,
2021-11-06 11:15:00,30.288889,46519.355556,37280.422222,0.0,9238.933333,37280.422222,37280.422222,58.022222,798.444444,0.000002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-11-06 11:30:00,30.076923,47600.714286,39472.626374,0.0,9397.756098,39132.406593,39132.406593,58.263736,812.571429,0.000002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-11-06 11:45:00,30.629213,47056.988764,32669.393258,0.0,14387.595506,32669.393258,32669.393258,57.235955,807.224719,0.000001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [182]:
dup_counts = df_merged.index.value_counts()
print(dup_counts)

datetime
2021-11-06 11:15:00    1
2021-11-06 11:30:00    1
2021-11-06 11:45:00    1
2021-11-06 12:00:00    1
2021-11-06 12:15:00    1
                      ..
2025-10-16 09:30:00    1
2025-10-16 09:45:00    1
2025-10-16 10:00:00    1
2025-10-16 10:15:00    1
2025-10-16 10:30:00    1
Name: count, Length: 138238, dtype: int64

In [183]:
# Compressed CSV
df_merged.to_csv('C:\\Users\\ASUS\\.keras\\datasets\\cmmju_15min.csv')